@import './global';

/*
 * VARIABLES
 */

/*
 * STYLE
 */

.contact {

  a {
    text-align: center;
    font-style: italic;
  }

  .banner-img {
    position: relative;
    height: 410px;
    background-color: $background;
    background-size: auto 410px;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .start-project {
    margin: 0 auto;
    margin-top: -130px;
    display: block;
    width: 100%;
    color: $dark-color;
    font-size: 1.5rem;

    &.btn-main {
      &:before {
        z-index: 0;
      }
    }

    &.btn-arrow {
      padding: 48px 0;
    }
  }

  .cv {
    margin: 0 auto;
    margin-top: 50px;
    display: block;
    width: 200px;
  }

  .skills {
    width: 640px;
    margin: 0 auto 40px auto;

    .wrapper {
      opacity: 0;
    }
  }

  .title {
    position: relative;
    margin-top: 80px;
    border-top: solid 1px #cccccc;
    padding: 25px 0;
    text-align: center;

    &:before {
      content: '';
      position: absolute;
      top: -1px;
      left: calc(50% - 100px);
      display: block;
      width: 200px;
      height: 1px;
      background-color: $background;
    }

    span {
      position: absolute;
      display: block;
      top: -12px;
      left: 0;
      width: 100%;
      font-style: italic;
      letter-spacing: 2px;
      color: $l-green;
    }
  }

  ul {
    line-height: 31px;
  }

  .certificate {
    margin: 0 auto;
    display: block;
    width: 400px;
  }

  .contact-info {
    text-align: center;
  }
}

footer {
  text-align: center;
  font-size: 0.875rem;
  padding: 20px 0;
}