@import url('https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy|Source+Sans+Pro');

/**************************************
 * VARIABLES
 **************************************/

html { font-size: 62.5%; }

$background: #f1f1f1;
$color: #212121;
$dark-bg: #212121;
$dark-color: #cccccc;
$dark-color-hover: #999999;

/* Font */
$font: 'Sorts Mill Goudy', serif;
$font-p: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
$font-title: 'Sorts Mill Goudy', serif;

$padding: 50px;
$letter-spacing: 0.05em;


$arrow-color: $color;

/**************************************
 * GLOBAL
 **************************************/

body {
  background: $background;
  color: $color;
  font-family: $font;
  font-size: 1.6rem;
  letter-spacing: $letter-spacing;
}

@mixin transition($t, $ease) {
  -webkit-transition: all $t $ease;
     -moz-transition: all $t $ease;
      -ms-transition: all $t $ease;
          transition: all $t $ease;
}

@mixin transitionCubic() {
  -webkit-transition: all 0.55s cubic-bezier(.25,.46,.45,.94);
     -moz-transition: all 0.55s cubic-bezier(.25,.46,.45,.94);
      -ms-transition: all 0.55s cubic-bezier(.25,.46,.45,.94);
          transition: all 0.55s cubic-bezier(.25,.46,.45,.94);
}

@mixin rotate($q) {
  -webkit-transform: rotate($q);
     -moz-transform: rotate($q);
      -ms-transform: rotate($q);
          transform: rotate($q);
}

a {
  color: $color;
  text-decoration: none;
  cursor: pointer;
  letter-spacing: $letter-spacing;
  @include transition(0.2s, ease-out);
}

ul, ol, ul li, ol li {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 400;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  font-family: $font;
}

/**************************************
 * ANIMATION
 **************************************/

@keyframes moveright {
  0%  {transform: translate3d(0,0,0) scale3d(1,1,1);}
  50% {transform: translate3d(20px,0,0) scale3d(0,1,1);}
  51% {transform: translate3d(-20px,0,0) scale3d(0,1,1);}
  100%{transform: translate3d(0,0,0) scale3d(1,1,1);}
}

@mixin moveright($t) {
  -webkit-animation: moveright $t cubic-bezier(.25,.46,.45,.94);
     -moz-animation: moveright $t cubic-bezier(.25,.46,.45,.94);
      -ms-animation: moveright $t cubic-bezier(.25,.46,.45,.94);
          animation: moveright $t cubic-bezier(.25,.46,.45,.94);
}

@keyframes moveleft {
  0%  {transform: translate3d(0,0,0) scale3d(1,1,1);}
  50% {transform: translate3d(-20px,0,0) scale3d(0,1,1);}
  51% {transform: translate3d(20px,0,0) scale3d(0,1,1);}
  100%{transform: translate3d(0,0,0) scale3d(1,1,1);}
}

@mixin moveleft($t) {
  -webkit-animation: moveleft $t cubic-bezier(.25,.46,.45,.94);
     -moz-animation: moveleft $t cubic-bezier(.25,.46,.45,.94);
      -ms-animation: moveleft $t cubic-bezier(.25,.46,.45,.94);
          animation: moveleft $t cubic-bezier(.25,.46,.45,.94);
}

/**************************************
 * GLOBAL
 **************************************/

main-menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}

.hide {
  display: none;
}

.container {
  padding-left: $padding;
  padding-right: $padding;
}

section {

  .banner-title {
    padding-top: 162px;
  }

  .logo-text {
    font-family: $font-p;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;

    span {
      display: inline-block;
      margin-left: -50px;
      margin-right: 10px;
      width: 40px;
      height: 3px;
      border-top: solid 1px $color;
    }
  }

  .logo-bio {
    
  }
}

.changepage {
  .btn-arrow {
    display: inline-block;
    &:nth-child(2) {
      float: right;
    }
  }
}

/* Button */

.btn {
  cursor: pointer;
  color: $color;
  @include transitionCubic();

  &.btn-arrow {
    .arrow-right {
      margin-left: 8px;
    }

    .arrow-left {
      margin-right: 8px;
    }
  }

  &:hover {
    color: $dark-color;
    @include transitionCubic();
  } 
}

.btn-main {

  &:before {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgba(1,1,1,1);
    @include transitionCubic();
    z-index: -1;
  }
  
  &:hover {
    &:before {
      width: 100%;
      @include transitionCubic();
    }
  }  
}

/* Button arrow */

.btn-arrow {
  padding: 12px 24px;
  cursor: pointer;

  &:hover {
    .arrow-right {
      @include moveright(0.55s);
    }

    .arrow-left {
      @include moveleft(0.55s);
    }
  }
}

.arrow {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 1px;
  background-color: $arrow-color;

  &.arrow-left {
    &:before {
      content: '';
      position: absolute;
      top: -2px;
      left: 1px;
      width: 6px;
      height: 1px;
      background-color: $arrow-color;
      @include rotate(-30deg);
    }

    &:after {
      content: '';
      position: absolute;
      top: 2px;
      left: 1px;
      width: 6px;
      height: 1px;
      background-color: $arrow-color;
      @include rotate(30deg);
    }
  }

  &.arrow-right {
    &:before {
      content: '';
      position: absolute;
      top: -2px;
      right: 1px;
      width: 6px;
      height: 1px;
      background-color: $arrow-color;
      @include rotate(30deg);
    }

    &:after {
      content: '';
      position: absolute;
      top: 2px;
      right: 1px;
      width: 6px;
      height: 1px;
      background-color: $arrow-color;
      @include rotate(-30deg);
    }
  }
}