@import url('https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy|Source+Sans+Pro');

/**************************************
 * VARIABLES
 **************************************/

html { font-size: 62.5%; }

$background: #fefefe;
$color: #3F4F5E;
$dark-bg: #3E603B;
$dark-highlight: #d3e8cb;
$dark-color: #E7E3D8;

$gray: #bebebe;
$green: #3E603B;
$l-green: #86AF49;
$a: #8B6F48;

/* Font */
$font: 'Sorts Mill Goudy', serif;
$font-p: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
$font-title: 'Sorts Mill Goudy', serif;

$padding: 50px;
$letter-spacing: 0.08em;

$selection-bg: rgba(171,189,177, .5);
$selection-color: #ffffff;
$arrow-color: $a;
$arrow-color2: #ffba43;

/**************************************
 * GLOBAL
 **************************************/

body {
  background: $background;
  color: $color;
  font-family: $font;
  font-size: 1.6rem;
  letter-spacing: $letter-spacing;
}

@mixin blur($q) {
  -webkit-filter: blur($q);
     -moz-filter: blur($q);
      -ms-filter: blur($q);
          filter: blur($q);
}

@mixin transition($t, $ease) {
  -webkit-transition: all $t $ease;
     -moz-transition: all $t $ease;
      -ms-transition: all $t $ease;
          transition: all $t $ease;
}

@mixin transitionCubic() {
  -webkit-transition: all 0.55s cubic-bezier(.25,.46,.45,.94);
     -moz-transition: all 0.55s cubic-bezier(.25,.46,.45,.94);
      -ms-transition: all 0.55s cubic-bezier(.25,.46,.45,.94);
          transition: all 0.55s cubic-bezier(.25,.46,.45,.94);
}

@mixin rotate($q) {
  -webkit-transform: rotate($q);
     -moz-transform: rotate($q);
      -ms-transform: rotate($q);
          transform: rotate($q);
}

@mixin moveX($q) {
  -webkit-transform: translate3d($q,0,0);
     -moz-transform: translate3d($q,0,0);
      -ms-transform: translate3d($q,0,0);
          transform: translate3d($q,0,0);
}

@mixin moveY($q) {
  -webkit-transform: translate3d(0,$q,0);
     -moz-transform: translate3d(0,$q,0);
      -ms-transform: translate3d(0,$q,0);
          transform: translate3d(0,$q,0);
}

a {
  color: $color;
  text-decoration: none;
  cursor: pointer;
  letter-spacing: $letter-spacing;
  @include transition(0.2s, ease-out);
}

ul, ol, ul li, ol li {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 400;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  font-family: $font;
  letter-spacing: $letter-spacing;
}

::selection {
  background: $selection-bg;
  color: $selection-color;
}

::-moz-selection {
  background: $selection-bg;
  color: $selection-color;
}

/**************************************
 * ANIMATION
 **************************************/

@keyframes moveright {
  0%  {transform: translate3d(0,0,0) scale3d(1,1,1);}
  50% {transform: translate3d(20px,0,0) scale3d(0,1,1);}
  51% {transform: translate3d(-20px,0,0) scale3d(0,1,1);}
  100%{transform: translate3d(0,0,0) scale3d(1,1,1);}
}

@mixin moveright($t) {
  -webkit-animation: moveright $t cubic-bezier(.25,.46,.45,.94);
     -moz-animation: moveright $t cubic-bezier(.25,.46,.45,.94);
      -ms-animation: moveright $t cubic-bezier(.25,.46,.45,.94);
          animation: moveright $t cubic-bezier(.25,.46,.45,.94);
}

.moveright {
  @include moveright(0.55s);
}

@keyframes moveleft {
  0%  {transform: translate3d(0,0,0) scale3d(1,1,1);}
  50% {transform: translate3d(-20px,0,0) scale3d(0,1,1);}
  51% {transform: translate3d(20px,0,0) scale3d(0,1,1);}
  100%{transform: translate3d(0,0,0) scale3d(1,1,1);}
}

@mixin moveleft($t) {
  -webkit-animation: moveleft $t cubic-bezier(.25,.46,.45,.94);
     -moz-animation: moveleft $t cubic-bezier(.25,.46,.45,.94);
      -ms-animation: moveleft $t cubic-bezier(.25,.46,.45,.94);
          animation: moveleft $t cubic-bezier(.25,.46,.45,.94);
}

.moveleft {
  @include moveleft(0.55s);
}

@keyframes fadeIn {
  0%  {opacity: 0;}
  100%{opacity: 1;}
}

@mixin fadeIn($t) {
  -webkit-animation: fadeIn $t ease-out;
     -moz-animation: fadeIn $t ease-out;
      -ms-animation: fadeIn $t ease-out;
          animation: fadeIn $t ease-out;
}

.fadeIn {
  @include fadeIn(1s);
}

@keyframes fadeInLeft {
  0%  {
    opacity: 0;
    transform: translate3d(-100px,0,0);
  }
  100%{
    opacity: 1;
    transform: translate3d(0,0,0);
  }
}

.fadeInLeft {
  -webkit-animation: fadeInLeft 1s ease-out;
     -moz-animation: fadeInLeft 1s ease-out;
      -ms-animation: fadeInLeft 1s ease-out;
          animation: fadeInLeft 1s ease-out;
}

@keyframes fadeInUp {
  0%  {
    opacity: 0;
    transform: translate3d(0,100px,0);
  }
  100%{
    opacity: 1;
    transform: translate3d(0,0,0);
  }
}

.fadeInUp {
  -webkit-animation: fadeInUp 1s ease-out;
     -moz-animation: fadeInUp 1s ease-out;
      -ms-animation: fadeInUp 1s ease-out;
          animation: fadeInUp 1s ease-out;
}

@keyframes fadeOut {
  0%  {opacity: 1;}
  100%{opacity: 0;}
}

@mixin fadeOut($t) {
  -webkit-animation: fadeOut $t ease-out;
     -moz-animation: fadeOut $t ease-out;
      -ms-animation: fadeOut $t ease-out;
          animation: fadeOut $t ease-out;
}

.fadeOut {
  @include fadeOut(1s);
}

@keyframes fadeOutRight {
  0%  {
    opacity: 1;
    transform: translate3d(0,0,0);
  }

  100%{
    opacity: 0;
    transform: translate3d(100px,0,0);
  }
}

.fadeOutRight {
  -webkit-animation: fadeOutRight 0.7s ease-in;
     -moz-animation: fadeOutRight 0.7s ease-in;
      -ms-animation: fadeOutRight 0.7s ease-in;
          animation: fadeOutRight 0.7s ease-in;
}

// @keyframes fadeInOut {
//   0%  {opacity: 1;}
//   50% {opacity: 0;}
//   100%{opacity: 1;}
// }

// .fadeInOut {
//   -webkit-animation: fadeInOut 1s ease;
//      -moz-animation: fadeInOut 1s ease;
//       -ms-animation: fadeInOut 1s ease;
//           animation: fadeInOut 1s ease;
// }

@keyframes slideLeft {
  0%  {transform: translate3d(-100px,0,0);}
  100%{transform: translate3d(0,0,0);}
}

@mixin slideLeft() {
  -webkit-animation: slideLeft 1s ease-out;
     -moz-animation: slideLeft 1s ease-out;
      -ms-animation: slideLeft 1s ease-out;
          animation: slideLeft 1s ease-out;
}

@keyframes slideRight {
  0%  {transform: translate3d(100px,0,0);}
  100%{transform: translate3d(0,0,0);}
}

@mixin slideRight() {
  -webkit-animation: slideRight 1s ease-out;
     -moz-animation: slideRight 1s ease-out;
      -ms-animation: slideRight 1s ease-out;
          animation: slideRight 1s ease-out;
}

@keyframes slideUp {
  0%  {transform: translate3d(0,100px,0);}
  100%{transform: translate3d(0,0,0);}
}

@mixin slideUp() {
  -webkit-animation: slideUp 1s ease-out;
     -moz-animation: slideUp 1s ease-out;
      -ms-animation: slideUp 1s ease-out;
          animation: slideUp 1s ease-out;
}

.slideUp {
  @include slideUp();
}

@keyframes openX {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@mixin openX($t) {
  -webkit-animation: openX $t ease-out;
     -moz-animation: openX $t ease-out;
      -ms-animation: openX $t ease-out;
          animation: openX $t ease-out;
}

@keyframes closeX {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

@mixin closeX($t) {
  -webkit-animation: closeX $t ease-out;
     -moz-animation: closeX $t ease-out;
      -ms-animation: closeX $t ease-out;
          animation: closeX $t ease-out;
}

@keyframes openY {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

@mixin openY($t) {
  -webkit-animation: openY $t ease-out;
     -moz-animation: openY $t ease-out;
      -ms-animation: openY $t ease-out;
          animation: openY $t ease-out;
}

@keyframes closeY {
  0% {
    height: 100%;
  }
  100% {
    height: 0;
  }
}

@mixin closeY($t) {
  -webkit-animation: closeY $t ease-out;
     -moz-animation: closeY $t ease-out;
      -ms-animation: closeY $t ease-out;
          animation: closeY $t ease-out;
}

/**************************************
 * GLOBAL
 **************************************/

main-menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}

.waiting-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: $background;
  z-index: 10000;
  &:after {
    content:'';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 0;
    background-color: $dark-bg;
    @include openX(1s);
    -webkit-animation-delay: 1s;
    animation-delay: 1s;

    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;

    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    z-index: 10001;
  }
}

#logo {
  display: block;
  position: absolute;
  top: 40px;
  right: $padding;
  width: 72px;
  z-index: 100;
  img {
    width: 100%;
  }
}

.hide {
  display: none;
}

.container {
  padding-left: $padding;
  padding-right: $padding;
}

.container-main {
  width: 960px;
  margin: 0 auto;
}

section {
  .banner-title {
    padding-top: 162px;
  }

  .logo-text {
    font-family: $font-p;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
    color: $color;

    span {
      display: inline-block;
      margin-left: -50px;
      margin-right: 10px;
      width: 40px;
      height: 3px;
      border-top: solid 1px $gray;
      @include slideLeft;
    }
  }
}

.changepage {
  .btn-arrow {
    display: inline-block;
    &:nth-child(2) {
      float: right;
    }
  }
}

/* Button */

.btn {
  cursor: pointer;
  color: $a;
  @include transitionCubic();

  &.btn-arrow {
    .arrow-right {
      margin-left: 8px;
    }

    .arrow-left {
      margin-right: 8px;
    }
  }
}

.btn-main {
  position: relative;
  background-color: $dark-bg;
  color: $dark-color;
  font-style: italic;
  
  .arrow, 
  .arrow.arrow-left:before,
  .arrow.arrow-left:after,
  .arrow.arrow-right:before,
  .arrow.arrow-right:after {
    background-color: $dark-color;
  }

  &:before {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgba(255,255,255, 0.3);
    @include transitionCubic();
    z-index: 0;
  }
  
  &:hover {
    &:before {
      width: 100%;
      @include transitionCubic();
    }
  }  
}

/* Button arrow */

.btn-arrow {
  padding: 12px 24px;
  cursor: pointer;

  &:hover {
    .arrow-right {
      @include moveright(0.55s);
    }

    .arrow-left {
      @include moveleft(0.55s);
    }
  }
}

.arrow {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 1px;
  background-color: $arrow-color;

  &.arrow-left {
    &:before {
      content: '';
      position: absolute;
      top: -2px;
      left: 1px;
      width: 6px;
      height: 1px;
      background-color: $arrow-color;
      @include rotate(-30deg);
    }

    &:after {
      content: '';
      position: absolute;
      top: 2px;
      left: 1px;
      width: 6px;
      height: 1px;
      background-color: $arrow-color;
      @include rotate(30deg);
    }
  }

  &.arrow-right {
    &:before {
      content: '';
      position: absolute;
      top: -2px;
      right: 1px;
      width: 6px;
      height: 1px;
      background-color: $arrow-color;
      @include rotate(30deg);
    }

    &:after {
      content: '';
      position: absolute;
      top: 2px;
      right: 1px;
      width: 6px;
      height: 1px;
      background-color: $arrow-color;
      @include rotate(-30deg);
    }
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2017-6-14 13:8:53
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes kenburns-bottom-left{0%{-webkit-transform:scale(1) translate(0,0);transform:scale(1) translate(0,0);-webkit-transform-origin:16% 84%;transform-origin:16% 84%}100%{-webkit-transform:scale(1.25) translate(-20px,15px);transform:scale(1.25) translate(-20px,15px);-webkit-transform-origin:left bottom;transform-origin:left bottom}}@keyframes kenburns-bottom-left{0%{-webkit-transform:scale(1) translate(0,0);transform:scale(1) translate(0,0);-webkit-transform-origin:16% 84%;transform-origin:16% 84%}100%{-webkit-transform:scale(1.25) translate(-20px,15px);transform:scale(1.25) translate(-20px,15px);-webkit-transform-origin:left bottom;transform-origin:left bottom}}