@import './global';

/*
 * VARIABLES
 */



/*
 * STYLE
 */

.home {

  .banner-home {
    position: relative;
    height: 100vh;    
  }

  .banner-project {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;

    .banner-img {
      margin-left: 20%;
      height: 100%;
      border-bottom-left-radius: 1000px;
      overflow: hidden;
      img {
        margin-left: 0;
        height: 100%;
      }
    }
  }

  .banner-tags {
    margin-top: 100px;
    div {
      width: auto;
      padding: 16px 50px 16px 50px;
    }

    .tag1 {
      font-size: 2.4rem;
    }
  }

  .discovery {
    position: absolute;
    bottom: 20%;
    right: 100px;
  }

  .changepage {
    position: absolute;
    bottom: 72px;
    left: 0;
    width: calc(100% - #{$padding}*2);
  }
}

