@import './global';

/*
 * VARIABLES
 */

@keyframes swipeLeft {
  0%  {
    visibility: visible;
    opacity: 1;
    transform: translate3d(0,0,0);
  }

  100%{
    opacity: 0;
    visibility: hidden;
    transform: translate3d(200px,0,0);
  }
}

@mixin swipeLeft($t) {
  -webkit-animation: swipeLeft $t ease-in;
     -moz-animation: swipeLeft $t ease-in;
      -ms-animation: swipeLeft $t ease-in;
          animation: swipeLeft $t ease-in;
}

@keyframes swipeRight {
  0%  {
    visibility: visible;
    opacity: 1;
    transform: translate3d(0,0,0);
  }

  100%{
    opacity: 0;
    visibility: hidden;
    transform: translate3d(-200px,0,0);
  }
}

@mixin swipeRight($t) {
  -webkit-animation: swipeRight $t ease-in;
     -moz-animation: swipeRight $t ease-in;
      -ms-animation: swipeRight $t ease-in;
          animation: swipeRight $t ease-in;
}

@keyframes bgAnimation {
  0% {
    left: -35%;
  }

  100% {
    left: 100%;
  }
}

@keyframes imgAnimation {
  0% {
    left: -20%;
  }

  100% {
    left: 100%;
  }
}

@mixin imgAnimation($name, $t) {
  -webkit-animation-name: $name;
  animation-name: $name;

  -webkit-animation-duration: $t;
  animation-duration: $t;

  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;

  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

@keyframes wheelRotate {
  0% {
    @include rotate(0deg);
  }

  100% {
    @include rotate(360deg);
  }
}

.wheel-rotate {
  -webkit-animation-name: wheelRotate;
  animation-name: wheelRotate;

  -webkit-animation-duration: 90s;
  animation-duration: 90s;

   -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;

  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

@mixin bgzoom($t) {
  -webkit-animation-name: kenburns-bottom-left;
  animation-name: kenburns-bottom-left;

  -webkit-animation-duration: $t;
  animation-duration: $t;

  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;

  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

/*
 * STYLE
 */

.home {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  .banner-home {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;

    &.prev {
      // @include swipeLeft(0.3s);
    }

    &.prevLeft {
      @include swipeLeft(0.3s);
    }

    &.prevRight {
      @include swipeRight(0.3s);
    }

    &.active {
      opacity: 1;
      visibility: visible;
      transform: translate3d(0,0,0);
      @include fadeIn(1s);
    }

    &.next {
      opacity: 0;
      visibility: hidden;
      transform: translate3d(0,0,0);
    }
  }

  .banner-project {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;

    .banner-img {
      position: relative;
      margin-left: 30%;
      height: 100%;
      overflow: hidden;
      -webkit-clip-path: polygon(0% 0, 100% 0, 100% 100%, 20% 100%);
      clip-path: polygon(0% 0, 100% 0, 100% 100%, 20% 100%);
      img {
        height: 120%;
        @include bgzoom(20s);
      }
    }
  }

  // .arrow, 
  // .arrow.arrow-left:before,
  // .arrow.arrow-left:after,
  // .arrow.arrow-right:before,
  // .arrow.arrow-right:after {
  //   // background-color: $color;
  // }

  .banner-tags {
    margin-top: 80px;
    div {
      width: auto;
      padding: 16px 50px 16px 50px;
    }

    .tag1 {
      font-size: 1.5rem;
      letter-spacing: 2px;
      @include textZoomIn(1s);
    }
  }

  .discovery {
    position: absolute;
    bottom: 20%;
    right: 15%;
  }

  .changepage {
    position: absolute;
    bottom: 72px;
    left: 0;
    width: calc(100% - #{$padding}*2);

    .btn-arrow {
      float: right;
    }
  }
}

.background-image {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;

  .wrapper {
    position: relative;
    width: 100%;
    height: 100%;
  }

  img {
    height: 100%;
  }

  .border {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 100%;
    background-color: $dark-bg;
  }
}

#park-bg {
  position: absolute;
  bottom: 38px;
  // left: -50%;
  height: 100%;
  @include imgAnimation(bgAnimation,300s);
}

#park {
  position: absolute;
  bottom: 38px;
  // left: -60%;
  height: 100%;
  @include imgAnimation(imgAnimation,120s);
}

#park-wheel {
  position: absolute;
  bottom: 6.25%;
  left: 25%;
  width: 30%;
  height: auto;
}

