@import './global';

/*
 * VARIABLES
 */

$icon: 40px;

/*
 * STYLE
 */

.menu-icon {
  display: block;
  width: 36px;
  margin-top: 40px;
  padding: 6px 4px 7px 0;
  cursor: pointer;

  div {
    width: 36px;
    height: 1px;
    background-color: $dark-bg;
    margin-bottom: 8px;
  }

  .menu-b {
    width: 24px;
  }

  .menu-l {
    margin-top: 8px;
    transform-origin: 0 8px;
    @include rotate(45deg);
    @include transition(0.3s, ease-out);
  }

  .menu-r {
    margin-top: -1px;
    @include rotate(-45deg);
    @include transition(0.3s, ease-out);
  }
}

// Animation
.menu-hamburger {
  &:hover {
    div {
      @include moveright(0.55s);
    }

    .menu-m {
      -webkit-animation-delay: 0.075s;
      animation-delay: 0.075s;
    }

    .menu-b {
      -webkit-animation-delay: 0.15s;
      animation-delay: 0.15s;
    }
  }
}

.menu-close {
  &:hover {
    .menu-l {
      @include rotate(135deg);
    }

    .menu-r {
      @include rotate(45deg);      
    }
  }
}

.menu-full {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  background-color: $dark-bg;
  color: $dark-color;
  @include transitionCubic();

  a {
    color: $dark-color;
  }

  .logo-text {
    margin-top: 100px;
    margin-bottom: 0;
  }

  .logo-bio {

  }

  .menu-icon div {
    background-color: $dark-color;
    margin-bottom: 0;
    transform-origin: 50% 50%;
  }
}

.menu-tabs {
  margin-top: 56px;
}

.menu-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: -100px center;
  z-index: -1;
  opacity: 0;
  @include transition(0.55s, ease-out);
}

.menu-item {
  position: relative;
  height: calc(100vh - #{$icon} - 100px - 46px - 23px - 16px - 56px - 100px);

  .borderV {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    width: 1px;
    height: 0;
    background-color: rgba(255,255,255,0.2);
  }

  a {
    display: inline-block;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: rgba(62,96,59,0);
    @include transition(0.55s, ease-out);

    h4,h2 {
      margin-left: $padding;
    }

    h4 {
      margin-top: 30%;
    }

    &:hover {
      background-color: rgba(62,96,59, .5);
      .menu-img {
        background-position: -130px center;
        opacity: 1;
      }
    }
  }
}

.menu-footer {
  position: relative;
  height: 100px;
  font-size: 1.4rem;

  .border {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(255,255,255,0.2);
  }

  .container {
    padding-top: 35px;
  }

  .copyright {
    display: inline-block;
  }

  .social-link {
    display: inline-block;
    float: right;

    a .text {
      position: relative;
      @include transitionCubic();
      &:before {
        content: '';
        position: absolute;
        top: -6px;
        left: -8px;
        width: 0;
        height: calc(100% + 8px);
        background-color: $dark-highlight;
        @include transitionCubic();
        z-index: -1;
      }
    }

    a:hover .text {
      color: $dark-bg;
      &:before {
        width: calc(100% + 15px);
      }
    }
  }
}

.openV {
  @include openY(1s);
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.closeV {
  @include closeY(1s);
}

.openH {
  @include openX(1.5s);
}

.closeH {
  @include closeX(1s);
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}