@import './global';

/*
 * VARIABLES
 */

@keyframes movetop {
  0%  {transform: translate3d(0,16px,0) scale3d(1,1,1);}
  50% {transform: translate3d(0,46px,0) scale3d(1,0,1);}
  51% {transform: translate3d(0,-14px,0) scale3d(1,0,1);}
  100%{transform: translate3d(0,16px,0) scale3d(1,1,1);}
}

@mixin movetop($t) {
  -webkit-animation: movetop $t cubic-bezier(.25,.46,.45,.94);
     -moz-animation: movetop $t cubic-bezier(.25,.46,.45,.94);
      -ms-animation: movetop $t cubic-bezier(.25,.46,.45,.94);
          animation: movetop $t cubic-bezier(.25,.46,.45,.94);
}

/*
 * STYLE
 */

.project {
  a {
    display: block;
  }

  .banner-project {
    position: relative;
    height: 100vh;
    background-size: auto 130%;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #212121;
    overflow: hidden;

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(1,1,1,0);
    }

    .banner-title {
      a {
        width: 100px;
        &.logo-text {
          font-size: 0.83em;
        }
      }
    }

    .logo-text span {
      border-top-color: $gray;
    }

    .logo-text, .logo-bio {
      color: $gray;
    }

    .logo-bio {
      @include textZoomIn(1s);
      letter-spacing: 2px;
    }

    .changepage {
      position: absolute;
      bottom: 72px;
      left: 0;
      width: calc(100% - #{$padding}*2);
    }

    .arrow, 
    .arrow.arrow-left:before,
    .arrow.arrow-left:after,
    .arrow.arrow-right:before,
    .arrow.arrow-right:after {
      background-color: $a;
    }
  }

  .banner-video {
    video {
      margin: auto;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
    .banner-title {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .project-detail {
    h1 {
      text-transform: uppercase;
      letter-spacing: 2px;
      margin-top: 100px;
    }

    .project-category {
      margin-top: 8px;
      margin-bottom: 24px;
    }

    .project-partner, .project-category {
      font-style: italic;
    }

    .website, .behance {
      padding: 4px 0;
    }

    img {
      width: 100%;
    }

    .col-l {

    }

    .col-r {
      background-color: #d3e8cb;
      .description {
        margin: 100px 0;
        padding-top: 12px;
        padding-bottom: 12px;
        // border-left: solid 1px $dark-bg;
        letter-spacing: 0.05em;
        p {
          line-height: 31px;
        }
      }
      li {
        margin-bottom: -8px;
      }
    }
  }

  .bottom {
    margin-bottom: 100px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
  }

  .menu-work {
    display: inline-block;
    margin: 0 auto;
    // padding: 6px 4px 7px 0;
    cursor: pointer;

    div {
      display: inline-block;
      width: 1px;
      height: 36px;
      background-color: $a;
      margin-right: 8px;
      transform: translateY(16px);
    }

    &:hover, &:active {
      div {
        @include movetop(0.55s);
      }

      .work-m {
        -webkit-animation-delay: 0.075s;
        animation-delay: 0.075s;
      }

      .work-r {
        -webkit-animation-delay: 0.15s;
        animation-delay: 0.15s;
      }
    }
    
  }

}

.related-work {
  opacity: 0;
  margin: 150px 0 100px 0;

  h4 {
    font-style: italic;
    letter-spacing: 2px;
  }

  p {
    padding-left: $padding;
    margin: 8px 0;
  }

  .project-img {
    width: 100%;
    height: 320px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: auto 125%;
    background-position: center, center;
  }

  .project-name {
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  a.work-item {
    .project-img {
      opacity: 1;
      @include transition(0.55s, ease-out);
    }    
  }

  a.work-item:hover {
    .project-img {
      opacity: 0.8;
    }
  }
}

@media screen and (max-width: 1279px) {
  .project .banner-video video {
    height: 100%;
    width: auto;
    left: calc(50vw - 87vh);
  }
}

@media screen and (max-width: 1023px) {
  section .logo-text {
    font-size: 14px;
  }

  .project {

    .banner-project .banner-title a {
      width: 150px;
      &.logo-text {
        font-size: 14px;
      }
      
    }

    .project-detail {
      .col-l {
        margin: 72px 0;
      }

      h1 {
        margin-top: 0;
      }

      .col-r .description {
        margin: 0;
        padding: 56px $padding;
      }
    }
  }

  .related-work {
    p {
      padding: 0 16px;
    }

    .project-img {
      height: 220px;
    }
  }
}

@media screen and (max-width: 575px) {
  .project {
    h1 {
      font-size: 1.5rem;
    }

    .banner-project .changepage {
      width: calc(100% - 20px*2);
      bottom: 20px;
    }

    .project-detail .col-r .description {
      padding: 56px 20px;
    }
  }

  .related-work {
    margin-top: 100px;
    .project-img {
      height: 220px;
    }
  }

}