<section class="home">

  <div class="background-image" id="park-img">
    <div class="wrapper">

      <div id="park-bg"><img src="/img/park-bg.svg" /></div>
      <div id="park">
        <div class="wrapper">
          <img src="/img/park.svg" />
          <div id="park-wheel" class="wheel-rotate"><img src="/img/park-wheel.svg" /></div>
        </div>
      </div>

      <div class="border"></div>

    </div>
  </div>

  <section class="banner-home" ng-repeat="page in home.pages"
    ng-class="{'active': home.isActive[page.id],
               'next'  : home.isNext[page.id],
               'prev'  : home.isPrev[page.id]}">

    <div class="banner-project">
       <div class="banner-img">
         <img ng-src="{{page.image}}"/>
       </div>
    </div>

    <a class="btn btn-main btn-arrow discovery" ng-href="{{page.projectURL}}">
      View Project
      <span class="arrow arrow-right"></span>
    </a>

    <div class="container banner-title">
      <h5 class="logo-text"><span></span>{{page.title}}</h5>
      <p class="logo-bio">{{page.description}}</p>
    </div>

    <div class="banner-tags" ng-show="page.id === 0">
      <div class="tag1">Hello, I am Alice.</div>
      <div class="tag2">Create neutral experiences for everyday things</div>
      <div class="tag3">Provide Web &amp; Mobile Service</div>
    </div>

    <div class="container changepage">
      <div class="btn-arrow" ng-click="home.goNext(page.id)"><span class="arrow arrow-right"></span></div>
      <div class="btn-arrow" ng-click="home.goPrev(page.id)"><span class="arrow arrow-left"></span></div>
    </div>

  </section>

</section>